<header>
  <%= link_to root_path, {class: "link-logo"} do %>
    Daphné & Baudouin
  <% end %>

    <nav role="navigation" class="menu offmobile">
    <ul>
      <% @categories.each_with_index do |categorie, index| %>
        <% if index == 1 %>
          <!-- Insérer le lien "Agenda" à la deuxième position -->
          <li><%= link_to "Agenda", calendars_path, class:"link-menu" %></li>
        <% end %>

        <!-- Afficher les autres catégories -->
        <li><%= link_to categorie.name, category_path(categorie), class: "link-menu" %></li>
      <% end %>


      <!-- Lien "Contact" -->
      <li><%= link_to "A propos", a_propos_path, class:"link-menu" %></li>
      <li><%= link_to "Contact", contact_path, class:"link-menu" %></li>
      <li class="mt-2"; style="font-size:14px"><%= link_to "FR", url_for(locale: 'fr'), class:"link-menu"  %> | <%= link_to "EN", url_for(locale: 'en'), class:"link-menu" %></li>
    </ul>
  </nav>
 </header>

<div class="menu-listing">
  <%= link_to @category.name, category_path(@category), class: "link-logo"   %>
  <div class="sous-menu offmobile">
    <ul>
      <% @works.each do |work| %>
        <li>
          <%= link_to work.name, [work.category, work], class: "link-sous-menu" %>
          <div class="year-mini"><%= work.year %></div>
        </li>
      <% end %>
      <li>
  </div>
</div>
<div class="bloc-work">
  <h1>
    <%= @work.name %>
    <div class="year-mini"><%= @work.year %></div>
  </h1>
  <h2><%= @work.sous_titre %></h2>
 <% if @work.photo.key.present? %>
  <div class="photos">
    <%= cl_image_tag @work.photo.key, crop: :fill %>
  </div>
<% end %>
  <div class="description">
    <% require 'redcarpet' %>
    <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML.new) %>
    <%= markdown.render(@work.description).html_safe %> <br>
  </div>
</div>
