<header>
  <%= link_to root_path, {class: "link-logo"} do %>
    DAPHNE BAUDOUIN
  <% end %>

    <nav role="navigation" class="menu">
    <ul>
      <% @categories.each_with_index do |categorie, index| %>
        <% if index == 1 %>
          <!-- Insérer le lien "Agenda" à la deuxième position -->
          <li><%= link_to "Agenda", calendars_path, class:"link-menu" %></li>
        <% end %>

        <!-- Afficher les autres catégories -->
        <li><%= link_to categorie.name, category_path(categorie), class: "link-menu" %></li>
      <% end %>


      <!-- Lien "Contact" -->
      <li><%= link_to "A propos", a_propos_path, class:"link-menu" %></li>
      <li><%= link_to "Contact", contact_path, class:"link-menu" %></li>
      <li class="mt-2"; style="font-size:14px"><%= link_to "FR", url_for(locale: 'fr'), class:"link-menu"  %> | <%= link_to "EN", url_for(locale: 'en'), class:"link-menu" %></li>
    </ul>
  </nav>
 </header>
