<header>
  <%= link_to root_path, {class: "link-logo"} do %>
    Daphné & Baudouin
  <% end %>

   <nav role="navigation" class="menu">
   <ul>
       <% @categories.each_with_index do |categorie, index| %>

          <!-- Insérer le lien "Agenda" à la deuxième position -->
          <li><%= link_to t('lien_agenda'), calendars_path, class:"link-menu" %></li>


        <!-- Afficher les autres catégories -->

        <% if I18n.locale == :fr %>
          <li><%= link_to categorie.name_fr, category_path(categorie), class: "link-menu" %></li>
        <% else %>
          <li><%= link_to categorie.name_en, category_path(categorie), class: "link-menu" %></li>
        <% end %>
      <% end %>


      <!-- Lien "Contact" -->
      <li><%= link_to t('lien_a_propos'), a_propos_path, class:"link-menu" %></li>
      <li><%= link_to t('lien_contact'), static_page_path(1), class:"link-menu" %></li>
       <li class="mt-2"; style="font-size:14px"><%= link_to "FR", url_for(locale: 'fr'), class:"link-menu"  %> | <%= link_to "EN", url_for(locale: 'en'), class:"link-menu" %></li>
    </ul>
  </nav>
 </header>

 <div class="menu-listing-home">
  <div class="pic-home top-115">
    <img src='https://res.cloudinary.com/dss64lrxx/image/upload/v1708693872/development/8eozmoecfz8ayvhkkmaa67worbf8.jpg' width="100%">
   </div>
</div>
