<header>
  <%= link_to root_path, {class: "link-logo"} do %>
    Daphné & Baudouin
  <% end %>

    <nav role="navigation" class="menu offmobile">
  <ul>
      <% @categories.each_with_index do |categorie, index| %>

          <!-- Insérer le lien "Agenda" à la deuxième position -->
          <li><%= link_to t('lien_agenda'), calendars_path, class:"link-menu" %></li>

        <!-- Afficher les autres catégories -->

        <% if I18n.locale == :fr %>
          <li><%= link_to categorie.name_fr, category_path(categorie), class: "link-menu" %></li>
        <% else %>
          <li><%= link_to categorie.name_en, category_path(categorie), class: "link-menu" %></li>
        <% end %>
      <% end %>


      <!-- Lien "Contact" -->
<li><%= link_to t('lien_a_propos'), static_page_path(StaticPage.find(2)), class: "link-menu" %></li>
<li><%= link_to t('lien_contact'), static_page_path(StaticPage.find(1)), class: "link-menu" %></li>
       <li class="mt-2"; style="font-size:14px"><%= link_to "FR", url_for(locale: 'fr'), class:"link-menu"  %> | <%= link_to "EN", url_for(locale: 'en'), class:"link-menu" %></li>
    </ul>
  </nav>
 </header>

<div class="menu-listing w-100 w-md-75">
  <%= link_to t('lien_agenda'), root_path, class: "link-logo" %>
  <div class="sous-menu">
    <% years = @calendars.map { |calendar| calendar.date_start.year }.uniq.sort_by { |year| -year } %>
      <% years.each do |year| %>
      <h3 style="margin-top:1.5rem; font-size:1rem"><%= year %></h3>
         <% @calendars.select { |calendar| calendar.date_start.year == year }.each do |calendar| %>
  <div class="row">
  <% if calendar.work %>
    <div class="col-md-3 col-8">
      <% if calendar.name.present? %>
        <% if I18n.locale == :fr %>
          <%= link_to calendar.name, [calendar.work.category, calendar.work], class: "link-calendar" %>
        <% else %>
          <%= link_to calendar.name, [calendar.work.category, calendar.work], class: "link-calendar" %>
        <% end %>
      <% else %>
        <% if I18n.locale == :fr %>
          <%= link_to calendar.work.name_fr, [calendar.work.category, calendar.work], class: "link-calendar" %>
        <% else %>
          <%= link_to calendar.work.name_en, [calendar.work.category, calendar.work], class: "link-calendar" %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="col-md-3 col-8">
      <%= calendar.name %>
    </div>
  <% end %>
  <div class="col-md-2 col-4 text-md-start text-end"><%= calendar.date_start.strftime("%d.%m.%Y") %></div>
  <div class="col-md-7 col-12"><%= calendar.place %></div>
</div>

        <% end %>
     <% end %>
   </div>
</div>
