<header>
  <%= link_to root_path, {class: "link-logo"} do %>
    DAPHNÉ BIIGA NWANAK <br>
BAUDOUIN WOEHL
  <% end %>

    <nav role="navigation" class="menu offmobile">
        <ul>
          <li><%= link_to "Dates", calendars_path, class:"link-menu" %></li>
          <% @categories.each do |categorie| %>
            <li><%= link_to categorie.name, category_path(categorie), class: "link-menu" %></li>
          <% end %>
          <li><%= link_to "Contact", contact_index_path, class:"link-menu" %></li>
        </ul>
      </nav>
 </header>

<div class="menu-listing w-75">
  <%= link_to "Dates", root_path, class: "link-logo" %>
  <div class="sous-menu">
    <% years = @calendars.map { |calendar| calendar.date_start.year }.uniq.sort_by { |year| -year } %>
      <% years.each do |year| %>
      <h3 style="margin-top:1.5rem; font-size:1rem"><%= year %></h3>
         <% @calendars.select { |calendar| calendar.date_start.year == year }.each do |calendar| %>
      <div class="row">
        <div class="col-3"><%= calendar.name %></div>
        <div class="col-2"><%= calendar.date_start.strftime("%d.%m.%Y") %></div>
        <div class="col-7"><%= calendar.place %></div>
      </div>

        <% end %>
     <% end %>
   </div>
</div>
